@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --secondary: #ffca0d;
  --bg-primary: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-dm-sans, 'DM Sans'), sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888 #111;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fccb19;
}

h1, h2, h3, h4, h5, h6, #logo {
  font-family: var(--font-space-grotesk, 'Space Grotesk'), serif;
}
